@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$pink : #D90647;
$red : #E8402D;
$black : #363636;
$grey : #808080;

$head : 72px;
$sub : 60px;
$para : 18px;
$headMob: 48px;
$subMob: 28px;
$paraMob: 16px;